<!DOCTYPE html>
<html>
<head th:include="shopping/index/include_shopping::header"></head>
<style type="text/css">
	#container{
		background:red;
	}
	.goods{
		padding:50px;
	}
	.pic {
		display:block;
		width:100%;
		boder: 1px solid silver;
	}
	.dish-money {
		color: blue;
	}
	.buy-dish {
		text-align: center;
		color: white;
		display: inline-block;
		background: #FF0000;
		font-size: 20px;
		line-height: 20px;
		cursor: pointer;
		padding:10px;
	}
	.buy-dish:hover {
		background: gray;
	}
	.dish-name{
		front-size:20px;
	}
	</style>
<body>
<nav th:include="shopping/index/include_shopping::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top" ></nav>
<div class="container" id="container">
	<div class="goods" th:each="goods : ${goodsList}">
		<input class="buy-id" type="hidden" th:value="${goods.id}" />
		<img th:src="${goods.imagesUrl}" width="200" height="200"><span class="pic"></span>
		<span class="dish-name" th:text="${goods.name}"></span>
		<span class="dish-money" th:text="${goods.price}"></span>
		<span class="buy-dish">加入购物车</span>
	</div>
</div>
</body>
</html>
<script type="text/javascript">
	class Cart {
		constructor() {
		}
		Addcart(){
		    let oBuyId = document.getElementsByClassName("buy-id");
			let oBuyDish = document.getElementsByClassName("buy-dish");
			let oDishName = document.getElementsByClassName("dish-name");
			let oDishMoney = document.getElementsByClassName("dish-money");
			let that = this;
			for (let i = 0; i < oBuyDish.length; i++) {
				oBuyDish[i].onclick = function(evt) {
					let e = evt || event;
					let target = e.target || e.srcElement;
					if(target.className=="buy-dish"){
                        let goodsId = Number(oBuyId[i].innerHTML)
                        $.ajax({
							type: "POST",
							url: "save/" + goodsId,
							dataType: "JSON",
							success: function(result) {alert(result.msg)}
						  });
					}
				}
			}
		}
	}
	let c = new Cart();
	c.Addcart();
</script>
<script src="/js/jquery.min.js"></script>