<!DOCTYPE html>
<html>
<meta charset="utf-8">
<style>
	.shopping{
		background: silver;
		padding: 100px;
	}
</style>
<head th:include="shopping/index/include_shopping::header"></head>
<body>
	<nav th:include="shopping/index/include_shopping::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top" ></nav>
	<div class="container" id="container" style="margin-top: 100px;">

	</div>
	</body>
	<div th:include="shopping/index/include_shopping::footer"></div>
	<script type="text/javascript">
		var limit = 10;
		var currentPage = 0;
		var total;
		$(function(){
			bindList(0);
		});
		function nextPage() {
			bindList(currentPage * limit)
		}
		function bindList(offset) {
			$.ajax({
					url : 'shopping/open/list?type=1&limit=10&offset=' + offset,
					method : 'get',
					dataType : 'json',
					success : function(data) {
						var rows = data.rows;
						total = data.total;
						var htmlText = "";
						for (i = 0; i < rows.length; i++) {
							htmlText += '<div class="shopping">';
							htmlText += '<a href="/shopping/open/post/' + rows[i].userId + '">';
							htmlText += '<img alt="image" height="200" width="200" src="'+rows[i].picUrl+'"/>'
							htmlText += '<h3 class="post-title">';
							htmlText += rows[i].name;
							htmlText += '</h3>';
							htmlText += '</a>';
							htmlText += '<p class="post-meta">地址：<a href="#">'
								+ rows[i].province + rows[i].city + rows[i].district
								+ '</a> &nbsp;&nbsp; '
								+ rows[i].liveAddress + '</p>';
							htmlText += '</div>';
							htmlText += '<hr>';
						}
						$("#container").append(htmlText);
					}
				});
		}
	</script>
</html>
