<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="shopping/index/include_shopping::header"></head>
<body>
	<nav th:include="shopping/index/include_shopping::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top" ></nav>
	<header class="intro-header"
		style="background-image: url('/img/blog/home-bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="site-heading">
						<h1>极宅美食</h1>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div id="incomeNum"></div>
			</div>
		</div>
	</div>
	</body>
	<div th:include="shopping/index/include_shopping::footer"></div>
	<script type="text/javascript">
		var limit = 10;
		var currentPage = 0;
		var total;
		$(function(){
			bindList(0);
		});
		function nextPage() {
			bindList(currentPage * limit)
		}
		function bindList(offset) {
			$
				.ajax({
					url : 'shopping/open/list?type=1&limit=10&offset=' + offset,
					method : 'get',
					dataType : 'json',
					success : function(data) {
						var rows = data.rows;
						total = data.total;
						var htmlText = "";
						for (i = 0; i < rows.length; i++) {
							htmlText += '<div class="post-preview">';
							htmlText += '<a href="/shopping/open/post/' + rows[i].userId + '">';
							htmlText += '<img alt="image" height="200" width="200" src="'+rows[i].picUrl+'"/>'
							htmlText += '<h3 class="post-title">';
							htmlText += rows[i].name + '的小店';
							htmlText += '</h3>';
							htmlText += '</a>';
							htmlText += '<p class="post-meta">地址：<a href="#">'
								+ rows[i].province + rows[i].city + rows[i].district
								+ '</a> &nbsp;&nbsp; '
								+ rows[i].liveAddress + '</p>';
							htmlText += '</div>';
							htmlText += '<hr>';
						}
						$("#incomeNum").append(htmlText);
					}
				});
		}
	</script>
</html>
