<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.system.dao.ShopingCertDao">
    <select id="get" resultType="com.design.system.domain.ShopingCertDO">
		SELECT
            `id`,
            `goods_id`,
            `number`,
            `user_id_create`,
            `gmt_create`
        FROM
            sys_cert WHERE id = #{value}
	</select>
    <select id="selectByGoodsIdAndUserIdCreate" resultType="com.design.system.domain.ShopingCertDO">
        SELECT
            `id`,
            `goods_id`,
            `number`,
            `user_id_create`,
            `gmt_create`
        FROM
        sys_cert WHERE goods_id = #{goodsId} AND user_id_create = #{userIdCreate}
    </select>

    <select id="list" resultType="com.design.system.domain.ShopingCertDO">
        SELECT
            `id`,
            `goods_id`,
            `number`,
            `user_id_create`,
            `gmt_create`
        FROM sys_cert
        <where>
            <if test="userIdCreate != null">AND user_id_create = #{userIdCreate}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id asc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        SELECT count(*) FROM sys_cert
        <where>
            <if test="userIdCreate != null">AND user_id_create = #{userIdCreate}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.design.system.domain.ShopingCertDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_cert(`goods_id`, `number`, `user_id_create`, `gmt_create` )
		VALUES ( #{goodsId}, #{number}, #{userIdCreate}, #{gmtCreate})
	</insert>
    <update id="update" parameterType="com.design.system.domain.ShopingCertDO">
        UPDATE sys_cert
        <set>
            <if test="number != null">`number` = #{number},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="remove">
		DELETE FROM sys_cert WHERE id = #{value}
	</delete>

    <delete id="batchRemove">
        DELETE FROM sys_cert WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>