<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.system.dao.GoodsDao">
    <select id="get" resultType="com.design.system.domain.GoodsDO">
		SELECT
            `id`,
            `name`,
            `price`,
            `remark`,
            `status`,
            `images`,
            `user_id_create`,
            `gmt_create`
        FROM
            sys_goods WHERE id = #{value}
	</select>

    <select id="list" resultType="com.design.system.domain.GoodsDO">
        SELECT
            `id`,
            `name`,
            `price`,
            `remark`,
            `status`,
            `images`,
            `user_id_create`,
            `gmt_create`
        FROM sys_goods
        <where>
            <if test="name != null and name != ''">AND name LIKE CONCAT('%',#{name},'%')</if>
            <if test="userIdCreate != null">AND user_id_create = #{userIdCreate}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by status asc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        SELECT count(*) FROM sys_goods
        <where>
            <if test="name != null and name != ''">AND name LIKE CONCAT('%',#{name},'%')</if>
            <if test="userIdCreate != null">AND user_id_create = #{userIdCreate}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.design.system.domain.GoodsDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_goods(`name`, `price`, `remark`, `status`, `images`, `user_id_create`, `gmt_create` )
		VALUES ( #{name}, #{price}, #{remark}, #{status}, #{images}, #{userIdCreate}, #{gmtCreate})
	</insert>

    <update id="update" parameterType="com.design.system.domain.GoodsDO">
        UPDATE sys_goods
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="price != null">`price` = #{price},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="images != null">`images` = #{images},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="remove">
		DELETE FROM sys_goods WHERE id = #{value}
	</delete>

    <delete id="batchRemove">
        DELETE FROM sys_goods WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>